<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>传值问题</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="updateValue">
        <input type="button" v-on:click = "valueSubmit" value="提交">
        <ul>
            <todo-item v-bind:content="item"
                    v-bind:index = "index" 
                    v-for="(item,index) in list"
                    @delete="handleItemDelete">
            </todo-item>
        </ul>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        /*第五篇---简单的组件间传值
        1、父组件--->子组件
        （1）在父组件中使用v-bind来绑定一个变量并传送给子组件(v-bind 可以用:)(v-on可以用@:click)
        （2）在子组件中使用 props对象来接收绑定的变量。
        2、子组件--->父组件
        （1）子组件通过$emit('方法名'，携带的参数名)方法来向外派发事件。
        （2）父组件监听子组件向外触发的事件并获取携带的参数
        3.使用list数组的splice方法来进行下标所对应内容的删除，此方法携带两个参数：
        第一个参数：从子组件中携带过来的下标数据index
        第二个参数：数字1（删除相对应的1条数据即可）*/
    //局部绑定思想(子组件)
    var TodoItem = {
        props : ['content',' '],
        template : '<li @click = "handleItemClick">{{content}}</li>',
        //这是子组件得到方法
        methods:{
            handleItemClick:function(){
                // 子组件通过$emit('方法名'，携带的参数名)方法来向外派发事件。
                // alert(this.index)
                this.$emit("delete",this.index);
            }
        }
    }

    var app = new Vue({
        el:'#app',
        //局部绑定时候的组件注册
        components : {
            TodoItem : TodoItem
        },
        data:{
            list:[],
            updateValue:''
        },
        methods:{
            valueSubmit:function(){
                this.list.push(this.updateValue);
                this.updateValue = '';
            },
            handleItemDelete:function(index){
                this.list.splice(index,1)
            }
        }
    });  
    </script>
</body>
</html>